{# templates/admin/upload_csv.html.twig #}

{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <h1>Upload CSV File</h1>
    </br>
    {# Your file upload form goes here #}
    <form method="post" action="{{ path('upload_fedex_csv') }}" enctype="multipart/form-data">
        <input type="file" name="csv_file" />
        <button type="submit">Upload</button>
    </form>
{% endblock %}